# ---
#   - name: ensure common packages are installed
#     apt:
#       state: present
#       pkg:
#         - gnupg
#         - software-properties-common
#         - wget 

#   - name: ensure the armored key is present
#     get_url:
#       url: https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public
#       dest: "{{ adoptopenjdk_keypath }}_armored"
#       checksum: sha256:428ce45ffbc74e350d707d95c661de959a2e43129a869bd82d78d1556a936440

#   - name: dearmor the adoptjdk gpg key
#     shell: "gpg --dearmor < {{ adoptopenjdk_keypath }}_armored > {{ adoptopenjdk_keypath }}"
#     args:
#       creates: "{{ adoptopenjdk_keypath }}"

#   - name: ensure the adoptjdk repoistory is present
#     apt_repository:
#       repo: deb [signed-by={{ adoptopenjdk_keypath }}] https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/ {{ ansible_distribution_release }} main
#       state: present
#       filename: adoptopenjdk
#     when: ansible_distribution_release != "jammy" # Jammy Jellyfish currently does not have a release

#   - name: "[Ubuntu 22.04] ensure the adoptjdk repoistory is present"
#     apt_repository:
#       repo: deb [signed-by={{ adoptopenjdk_keypath }}] https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/ focal main
#       state: present
#       filename: adoptopenjdk
#     when: ansible_distribution_release == "jammy"

#   - name: ensure adopt JDK-8 hotspot JRE hotspot is installed
#     apt:
#       state: present
#       name: adoptopenjdk-8-hotspot-jre
#       update_cache: yes

#   - name: set JAVA_HOME default location
#     lineinfile:
#       dest: /root/.bashrc
#       line: 'export JAVA_HOME=/usr/lib/jvm/adoptopenjdk-8-hotspot-amd64/bin/java'
#       state: present
